<h1>List of all peeps</h1>
<a href="/peeps/new">New Peep</a>
<%@peeps.each do |peep| %>
  <h2>
    <%= peep.title %>
  </h2>
  <p>
    <%= peep.content %>
  </p>
  <a href="/peeps/<%= peep.id%>">View</a> |
  <a href="/peeps/<%= peep.id%>/edit">Edit</a> |
  <form action="/peeps/<%= peep.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
<% end %>
